openapi: 3.1.0
info:
    title: TaskBoard API
    version: 1.0.0
    license:
        name: MIT
        url: https://opensource.org/licenses/MIT

servers:
    - url: https://api.taskboard.com
      description: Production server

security:
    - ApiKeyAuth: []

paths:
    /tasks:
        get:
            summary: List all tasks
            operationId: listTasks
            responses:
                "200":
                    description: A list of tasks
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Task"
                "400":
                    description: Bad request

    /tasks/search:
        get:
            summary: Search tasks
            operationId: searchTasks
            parameters:
                - in: query
                  name: query
                  schema:
                      type: string
                  required: true
                  description: Search keyword
            responses:
                "200":
                    description: Successful search
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Task"
                            examples:
                                example-1:
                                    value:
                                        - id: "1"
                                          title: "Team meeting notes"
                                          completed: false
                                        - id: "2"
                                          title: "Schedule meeting with client"
                                          completed: true
                "400":
                    description: Invalid or missing query parameter

components:
    securitySchemes:
        ApiKeyAuth:
            type: apiKey
            in: header
            name: Authorization

    schemas:
        Task:
            type: object
            properties:
                id:
                    type: string
                    description: Unique task identifier
                title:
                    type: string
                    description: Task title or summary
                completed:
                    type: boolean
                    description: Whether the task has been completed
